@use '@styles/vars' as *;
@use '@styles/mixins' as mixins;

.pagination {
  // .pagination__container

  &__container {
    max-width: $container-width;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  // .pagination__body

  &__body {
    display: flex;
    gap: 15px;
    height: 42px;
    align-items: center;
    @include mixins.respond($media-query-425) {
      gap: 10px;
      height: 35px;
    }
  }

  // .pagination__arrow

  &__arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease, opacity 0.2s ease;
    &_left {
      transform: rotate(180deg);
    }
    path {
      stroke: var(--text);
    }
    &:hover path {
      opacity: 0.8;
    }
    &[disabled] path {
      stroke: #afafaf;
      opacity: 0.6;
    }
  }

  // .pagination__rows

  &__rows {
    display: flex;
    height: 100%;
  }

  // .pagination__number

  &__number {
    cursor: pointer;
    flex: 0 0 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease 0s;
    &:hover {
      background-color: var(--pagination-hover);
    }

    &_active {
      color: white;
      background-color: $brand;
      &:hover {
        background-color: $brand;
      }
    }

    @include mixins.respond($media-query-425) {
      flex: 0 0 30px;
    }
  }

  // .pagination__box

  &__box {
    flex: 0 0 38px;
  }

  .pagination__dotted {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 9.5px;
  }
}
