@use '@styles/vars' as *;
@use '@styles/mixins' as mixins;

.password {
  display: flex;
  gap: 15px;
  flex-direction: column;

  &__title {
    font-size: 28px;
    margin-bottom: 5px;
  }

  &__input {
    :global(.MuiOutlinedInput-root) {
      color: var(--text);
      background-color: var(--panel-bg);
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--auth-border);
      }
      &:hover .MuiOutlinedInput-notchedOutline {
        border-color: var(--auth-border);
      }
    }

    :global(.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline) {
      border-color: var(--auth-border);
    }
    :global(
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline
      ) {
      border-color: $brand;
    }
    :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline) {
      border-color: $brand;
    }

    :global(.MuiInputBase-input) {
      color: var(--text);
    }

    :global(.MuiOutlinedInput-root.Mui-focused) fieldset {
      border-color: $brand;
    }

    :global(.MuiInputLabel-root.Mui-focused) {
      color: $brand;
    }

    :global(.MuiInputLabel-root) {
      color: var(--text);
    }

    :global(.MuiFormHelperText-root) {
      color: $text-secondary;
    }

    :global(input:-webkit-autofill),
    :global(input:-webkit-autofill:hover),
    :global(input:-webkit-autofill:focus) {
      -webkit-text-fill-color: var(--text);
      box-shadow: 0 0 0px 1000px var(--panel-bg) inset;
      transition: background-color 99999s ease 0s;
      caret-color: var(--text);
    }
    :global(input:-moz-autofill) {
      box-shadow: 0 0 0px 1000px var(--panel-bg) inset;
      -moz-text-fill-color: var(--text);
      caret-color: var(--text);
    }
  }

  &__line-body {
    position: absolute;
    top: 20px;
    left: 4px;
    transform: rotate(135deg);
    width: 32px;
    height: 1px;
    .password__line {
      display: block;
      width: 0;
      height: 1px;
      background-color: var(--text);
      transition: width 0.2s ease;
      &_active {
        width: 100%;
      }
    }
  }

  &__button {
    border-radius: 6px;
    width: max-content;
    @include mixins.respond($media-query-768) {
      align-self: flex-end;
    }
    @include mixins.respond($media-query-425) {
      width: 100%;
    }
  }

  &__success {
    color: $brand;
  }
}
