@use '@styles/vars' as *;
@use '@styles/mixins' as mixins;

.basket-product {
  // .basket__product

  &__product {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    @include mixins.respond($media-query-1024) {
      flex-direction: column;
      gap: 15px;
      &:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--border);
      }
    }
  }

  // .basket__info

  &__info {
    flex: 1 1 auto;
    display: flex;
    gap: 20px;
    @include mixins.respond($media-query-425) {
      flex-direction: column;
    }
  }

  // .basket__img

  &__img {
    position: relative;
    flex: 0 0 100px;
    width: 100px;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include mixins.respond($media-query-1024) {
      flex: 0 0 110px;
      width: 110px;
    }
    @include mixins.respond($media-query-425) {
      flex: 0 0 auto;
      width: initial;
      height: initial;
      aspect-ratio: 1;
    }
  }

  // .basket__shell

  &__shell {
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex: 1 1 auto;
  }

  // .basket__prices
  &__prices {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  // .basket__discount
  &__discount {
    font-size: 17px;
  }

  // .basket__price

  &__price {
    font-size: 17px;
    &_discount {
      font-size: 14px;
      color: $text-secondary;
      text-decoration: line-through;
    }
  }

  // .basket__name

  &__name {
    font-size: 20px;
    line-height: 28px;
  }

  // .basket__description

  &__description {
    color: $text-secondary;
    line-height: 20px;
  }

  // .basket__icons

  &__icons {
    display: flex;
    gap: 20px;
    @include mixins.respond($media-query-1024) {
      position: absolute;
      bottom: 7px;
      right: 0;
    }
  }

  &__trash path {
    stroke: var(--text);
    opacity: 0.6;
    transition: stroke 0.2s ease 0s;
  }

  &__trash {
    &:hover path {
      stroke: var(--text);
      opacity: 1;
    }
  }

  // .basket__counter

  &__counter {
    display: flex;
    height: max-content;
    @include mixins.respond($media-query-1024) {
      width: 110px;
    }
  }

  // .basket__counter-button

  &__counter-button,
  &__count {
    flex: 0 0 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__counter-button {
    background-color: var(--border);
    border-radius: 10px;
    &[disabled] {
      cursor: default;
      opacity: 0.6;
    }
    @include mixins.respond($media-query-1024) {
      flex: 0 0 32px;
      height: 32px;
    }
  }

  // .basket__count

  &__count {
    @include mixins.respond($media-query-1024) {
      flex: 1 1 auto;
      height: initial;
    }
  }
}
