@use '@styles/vars' as *;
@use '@styles/mixins' as mixins;

.history {
  padding: calc(30px + var(--header-height)) 0 113px 0;
  --card-gap: 30px;
  // .history__container

  &__container {
    max-width: $container-width;
    padding: 0 15px;
    margin: 0 auto;
  }

  // .history__title

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  // .history__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
    margin-right: calc(-1 * var(--card-gap));
  }

  &__card {
    flex: 0 0 calc(25% - var(--card-gap));
    width: calc(25% - var(--card-gap));
    @include mixins.respond($media-query-1024) {
      flex: 0 0 calc(33.333% - var(--card-gap));
      width: calc(33.333% - var(--card-gap));
    }
    @include mixins.respond($media-query-768) {
      flex: 0 0 calc(50% - var(--card-gap));
      width: calc(50% - var(--card-gap));
    }
    @include mixins.respond($media-query-425) {
      flex: 0 0 calc(100% - var(--card-gap));
      width: calc(100% - var(--card-gap));
    }
  }
}
