@use '@styles/vars' as *;
@use '@styles/mixins' as mixins;

.login {
  padding: calc(50px + var(--header-height)) 0 100px 0;
  // .login__container

  &__container {
    padding: 0 20px;
  }

  // .login__body

  &__body {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #c9c9c9;
    gap: 20px;
    padding: 40px;
    background-color: white;
    @include mixins.respond($media-query-425) {
      padding: 40px 25px;
    }
  }

  // .login__title
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
  }

  &__error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }

  // .login__input

  &__input {
    :global(.MuiOutlinedInput-root.Mui-focused) fieldset {
      border-color: $brand;
    }

    :global(.MuiInputLabel-root.Mui-focused) {
      color: $brand;
    }
  }

  //  .login__button
  &__button {
    padding: 16px 14px;
    border-radius: 6px;
  }

  // .login__link
  &__link {
    color: $brand;
    text-align: center;
  }
}
