.back-link {
  display: inline-flex;
  gap: 15px;
  // .back-link__arrow

  &__arrow {
    transform: rotate(90deg);
    path {
      fill: var(--text);
    }
  }

  // .back-link__text

  &__text {
    color: var(--text);
    font-size: 20px;
    line-height: 24px;
  }
}
