$border-radius: 0px;

$container-width: 1240px;

$brand: #518581;
$brand-hover: #86aaa7;
$brand-active: #487773;

$media-query-375: 375px;
$media-query-425: 425px;
$media-query-768: 768px;
$media-query-1024: 1024px;
$media-query-1440: 1440px;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$text-primary: #000000;
$text-secondary: #afadb5;
$text-accent: $brand;

$icon-primary: #000000;
$icon-secondary: #afadb5;
$icon-accent: $brand;

$button-brand: #518581;
$button-brand-hover: #86aaa7;
$button-brand-active: #487773;
$button-disabled: rgba(217, 217, 217, 1);

$input-brand: #518581;

$card-gap: 79px;

$multidropdown-option-brand: #518581;

$checkbox-brand-hover: #518581;

$header-white: #ffffff;
