@use '@styles/vars' as *;

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  font-size: 18px;
  border: none;
  outline: none;
  transition: 0.3s;

  &_green {
    color: white;
    background-color: $button-brand;

    &:hover:not(.button_disabled) {
      background-color: $button-brand-hover;
    }

    &:active:not(.button_disabled) {
      background-color: $button-brand-active;
    }
  }

  &_transparent {
    color: var(--text);
    background-color: transparent;
    border: 1px solid var(--transparent-button-border);

    &:hover:not(.button_disabled) {
      background-color: var(--transparent-button-hover);
    }

    &:active:not(.button_disabled) {
      background-color: var(--transparent-button-hover);
    }
  }

  &_disabled {
    background-color: $button-disabled;
    color: #aaa;
  }

  &_loading {
    pointer-events: none;
  }
}
